@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-dm-sans: "DM Sans", sans-serif;
}

@theme {
  --breakpoint-xxl: 1440px;
  --breakpoint-xlg: 1680px;
  --breakpoint-maxLg: 1920px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-mono: "DM Mono", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none; /* Firefox (older versions) */
}

/* For WebKit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
